<h2 class="event-header l-grid">
    <span class="event-title l-grid-u">{{title}}</span>
  {{#if who}}
    <b class="event-person l-grid-u" title="{{who.name}}">{{who.abbrv}}</b>
  {{else}}
    <b class="event-person l-grid-u" title="Elizabeth &amp; Jeff">
        E<span class="l-inline event-person-sep">&amp;</span>J
    </b>
  {{/if}}
</h2>
