{{setYUIModule "le-home"}}
{{setDescription "Elizabeth Johnson & Jeff Marion are getting married on May 28th, 2016 in Menlo Park, CA."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <span class="ann-primary">Elizabeth Johnson</span>
    <span class="ann-secondary ann-sep">&amp;</span>
    <span class="ann-primary">Jeff Marion</span>
</h1>

<p style="text-align: center">
	Details coming soon.
</p>
