{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>

    <p>
	Details coming soon, please check back.
    </p>
</div>
