{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
	<h1>Wedding Registry</h1>

	<p>
		The only gift we really want is your presence at our wedding but if you want to get us something extra we are registered at <a href="https://www.amazon.com/wedding/registry/28QA50MOXK5B2">Amazon</a> and <a href="http://www.crateandbarrel.com/gift-registry/jeffrey-marion-and-elizabeth-johnson/r5526649">Crate&amp;Barrel</a>.
	</p>

	<div class="l-grid-1-2">
		<div class="reg-place l-grid-u l-contain">
			<a href="https://www.amazon.com/wedding/registry/28QA50MOXK5B2">
				<img src="/img/amazon.png">
			</a>
		</div>

		<div class="reg-place l-grid-u l-contain">
			<a href="http://www.crateandbarrel.com/gift-registry/jeffrey-marion-and-elizabeth-johnson/r5526649">
				<img src="/img/crate_and_barrel.png">
			</a>
		</div>
	</div>
</div>
